.Table{
    margin: 50px;
    border: 1px solid black;
}

.Table th, td {
    border: 1px solid black;
}

.TableButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px auto;
    justify-content: center;
}

.TableWr ul{
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 15px auto;
   padding-inline-start: 0;
}
.TableWr ul li{
    margin: 0 10px;
}