@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(22.5em);
            transform: skewY(-45deg) translateX(22.5em);
  }
}
.Auth{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Auth span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Auth span div{
  padding: 1.7em 0;
}

.Auth span img{
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;;
}


:global #firebaseui_container .firebaseui-idp-github{
  background-color: #24292E;
}
:global #firebaseui_container .firebaseui-idp-github:before{
  content: "";
  background-color: rgba(97, 218, 251, 0.87);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  transition: none;
}
:global #firebaseui_container .firebaseui-idp-github:hover{
    background-color: #24292E;
    color: #fff;
    border-bottom: 2px solid #24292E;
}
:global #firebaseui_container .firebaseui-idp-github:hover:before {
  -webkit-transform: skewX(-45deg) translateX(22.5em);
          transform: skewX(-45deg) translateX(22.5em);
  transition: all 0.5s ease-in-out;
}



:global #firebaseui_container .firebaseui-idp-list{
  margin: 0;
}
:global #firebaseui_container .firebaseui-idp-button{
  display: flex;
  flex-direction: row;
  height: 38px;
  line-height: none;
  margin-top: 15px;
}
:global #firebaseui_container .firebaseui-idp-button img{
  margin: 0;
  width: 20px;
  height: 20px;
}

